@import 'variables.scss';
@import 'fonts.scss';
@import 'titles.scss';
@import 'element-ui-overrides';

*,
*:before,
*:after {
  outline: none !important;
  box-sizing: border-box;
  margin: 0;
}

*:not(i) {
  font-family: $font-primary;
}

.page-container {
  min-height: 100vh;
  padding-top: 50px;
  background-color: $color-background;
}

.page-content {
  padding: 40px 7.5%;
}

.icon-fill-color-3 {
  g {
    fill: $color-3;
  }
}

.aside-logo-container {
  width: 100%;
  height: 100px;
}

.aside-panel-content {
  padding: 0px 40px 40px 40px;

  h2 {
    color: $color-3;
    font-size: 32px;
    text-align: center;
    font-family: $font-stylized;
  }
}

.form-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row-title {
  margin-top: 10px;
}
