$color-1: #176087;
$color-1-light: #80b9da;
$color-2: #FFF;
$color-2-hover: rgba($color-2, 0.3);
$color-3: #35495e;
$color-white: #FFF;
$color-grey-dark: #666;
$color-black: #000;

$color-text: #333;
$color-background: #FAFAFA;
$color-border: #EEE;

$font-primary: 'montserrat';
$font-stylized: 'caveat';
